body{

    margin: 0;
    font-family: 'Ubuntu', sans-serif;

}

.top-bar{

    background-color: rgb(221, 255, 255);
    padding-top: 12px;
    padding-left: 24px;
    padding-right : 24px;
    padding-bottom: 12px;
    
    
}

.top-bar-items{

    margin: 0;
    display: inline;
    color: black;
    float: right;
    position: relative;
    top: 10px;
    margin-right: 24px;

}

#logoText{

    font-size: 24px;
    font-family: 'Pacifico', cursive;
}

#nav-items{

    color: black;
    cursor: pointer;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 12px;

}

#nav-items:hover{

    font-weight: bold;

}


