body{

    margin: 0;
    font-family: 'Poppins', sans-serif;
  

}



.top-bar{

    box-sizing: border-box;
    background-color:#1E90FF;
    padding-top: 12px;
    padding-left: 24px;
    padding-right : 24px;
    padding-bottom: 12px;
    color:white;
    position: fixed;
    margin: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(184, 184, 184, 0.2), 0 6px 20px 0 rgba(134, 134, 134, 0.19);
    
    
    
    
}

.top-bar-items{

    margin: 0;
    position: relative;
    top: 10px;
    float: right;;
    margin-right: 24px;

}


#logoText{

    font-size: 24px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;

}

#nav-items{

 
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 12px;
    font-size: 14px;
    font-weight: 300;
    
}

#nav-items-link{

    text-decoration: none;
    color: white;
   
}

#nav-items:hover{

    padding-bottom: 10px;
    border-bottom: 1px solid white;

}



.landing-section{

    
    max-width: 100;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
   
    
    
    
}

.me-section-left-wrapper{

    
    padding-top: 12px;
    padding-left: 24px;
    padding-right : 24px;
    padding-bottom: 12px;
   
    
    margin: 18px;
   
    display: inline-block;
    display: flex;
  justify-content: center;
  align-items: center;
 
}

.section-left-content-wrapper{
  
    
}


.me-section-right-wrapper{
 
  
    padding-top: 12px;
    padding-left: 24px;
    padding-right : 24px;
    padding-bottom: 12px;   
    margin: 18px;
    display: inline-block; 
}


#undraw-image{

    width: 100%;
    height: 100%;
}

.hello
{    
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 32px;
    color:#1E90FF;
    text-shadow: 4px 4px 1px #e6e6e6; 
    margin: 0;
    
    
}


 .my-name{


    width: 100%;
    margin:0;
    margin-top: 22px;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 48px;
    text-shadow: 6px 6px 2px rgb(231, 231, 231); 

    
}

.my-skills-wrapper{

   
    color: grey;
    

}

#skills-items {

    cursor: default;
     
}

 .know-more-btn{

   margin-top: 92px ;
    background-color: #1E90FF;
    border: 1px solid #1E90FF;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 12px;
    border-radius: 4px;
    color:white;
    letter-spacing: 1px;
    transition:  0.5s all ease-in-out;

}

.know-more-btn:hover{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.footer-social-links{

    position: absolute  ;
    bottom: 0;
    right: 0;
    
    
}

.btn-links
{
  margin-top: 5px;
  background-color: #1E90FF;
  border: none;
  color: white;
  padding: 8px;
  border-radius: 50px;
}

.work
{
    box-sizing: border-box;
    margin-top:55px;
    background-color: rgba(71, 150, 230, 0.103);
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 28px;
}


.work-experience-header{

    text-align: center;
    font-size: 32px ;
    margin: 0;
    margin-bottom: 18px;
}


.work-experience-details{

    text-align: center;
 
}
.work-experience-details > *{

    
    vertical-align: middle;
    margin-top: 48px;
    margin-left: 22px;
    margin-right: 22px ;
    

}

.work-experience-details:hover .job-description-wrapper {

    
    background-color: #1E90FF;
    color: white;

}

.work-experience-details:hover .circle {
   
    background-color: #1E90FF;
    color: white;

}
/* Hovering Over Work */




.company-details-wrapper
{  
    display: inline-block;
    width: 400px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
     
    
}

#company-name{

    font-size: 22px;
    color: #031d38;
    font-weight: bold;
    line-height: 6px;
    letter-spacing: 1px;
    
   
}

#company-role{

    font-size: 18px;
    color: #1E90FF;
    
   
}


#company-duration{

    font-size: 16px;
    line-height: 4px;
    color: rgb(85, 85, 85);
    
    
   
}



.circle
{   

    display: inline-block;
    width: 50px;
    height: 50px;
    color: #1E90FF;
    border-radius: 50%;
    position: relative;
    border:1px solid #1E90FF;
}

#number
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    

}

.job-description-wrapper
{
    background-color: white;
    display: inline-block;
    width: 400px;
    text-align: left;
    border-radius: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


#job-description
{
   font-size: 14px;
}

/* ------------------------------------ FOOTER START ----------------------------------------------- */

.social-links{

    margin-top: 36px;
    text-align: center;
    
    
}

.social-links-img{

    margin-left: 8px;
    margin-right: 8px;
    color: rgb(170, 169, 169);
}

.social-links-img:hover{

   
    color: #1E90FF;
}

.pen-name{

    text-align: center;
    color: #031629;
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
}

.pen-name:hover{

    color: #1E90FF;
}

.footer-email{

    text-align: center;
    color: #031d38;

}

.made-with-love{

    text-align: center;
}


/* ----------------------------------- FOOTER END ------------------------------- */


/* ----------------------------------- CLAIM TO FAME START ---------------------------- */

.claim-to-fame{

   padding: 12px;
}


.claim-to-fame-header
{
    font-size: 32px;
    text-align: center;
   margin-bottom: 18px;
    

}

.claim-to-fame-underline{

    height: 3px;
    width: 100px;
    background-color: #1e8fff70;
    border-radius: 5px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;

}

.card-wrapper{

    
    margin-top: 48px;
    margin-bottom: 32px;
    padding: 32px 36px 32px 36px;
    text-align: center;
    
}

.card {
    
    display: inline-block;
    border-radius: 4px;
    box-shadow: 4px 4px 5px rgba(207, 207, 207, 0.5);
    max-width: 400px;
    border-radius: 25px;
    position: relative;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .card:hover{

    box-shadow: 4px 4px 8px rgb(136, 136, 136) ;
  }

  .card:hover .left-section{

    
    background-color: white;
  }

  .card:hover .title-total{

    
    background-color:#1E90FF ;
    border-radius: 0px 25px 25px 0px;
  }

  .card:hover h2{

    
    color: white;
  }

  .card:hover .desc{
   
      color: white;
  }

  .card:hover button{
   
    color: white;
  }

  .card h2 {
   
    
    padding-left: 16px ;
    vertical-align: middle;
  }

  
  
  
  .card .desc {
    padding: 4px;
    font-size: 12px;
    
  }

  .card .actions {
   
    text-align: right;
    padding: 4px;
   

  }

  .card img {
      
    width: 50px ;
    height: 50px;
   
  
    
  }
  
  .img-avatar {
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    top: 15px;
    left: 85px;
    box-shadow: 0px 18px 80px rgba(59, 66, 194, 0.664);
  }

  .card .img
  {

    width: 50px;
    height: 50px;
    position: absolute;
    top: 14px;
    left: 14px;
    
  }
  
  .card-text 
  {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  

  .title-total {

    padding: 18px 22px 18px 22px;
   
  }
  
  
  .left-section {
   
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #1E90FF;
   
    
  }
  
  .card a 
  {


   
  }
  

/* ------------------------------------ CLAIM TO FAME END ----------------------------- */